{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hey Everyone I'm <strong>Joseph Martin</strong> and I welcome you all to my blog website!
        </p>
        <p>
          I'm currently pursuing B.Tech Computer Engineering and a Passionate Software Developer
          from Pune, Maharashtra.
        </p>
        <p>
          This website is made from the course 100 days of code in Python by Angela Yu.
          I would like to thank Angela Yu in helping for making this website by providing step-by-step 
          approach.
        </p>
        <p>
          I implemented this website using Flask completely and Flask_SQLAlchemy for Databases.
        </p>
        <p>
          Looking into creating more flask website like these.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
